[flake8]
exclude = .git, __pycache__
# ignore E252 that is not compatible with typing hints
# ignore E226, adding whitespace for all arithmetic ops
# is not useful
ignore = E252, E226
max-line-length = 99